/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 40px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 80%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
    filter: invert(100%);
}


/* Navigation Bar: List Styling */

#navbar ul{
    font-family: sans-serif, cursive;
    display: flex;
    justify-content: end;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
    align-items: center;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 230px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('../bg1.jpg') no-repeat center center/cover;
    height: 950px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
    
}

#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
    text-shadow: 2px 2px black;
}
/* Services Section */
.h-primary{
    color: rgb(14, 13, 13);
    text-shadow: 2px 2px rgb(122, 111, 111);
}

.h-primary2{
    color: rgb(14, 13, 13);
    text-shadow: 2px 2px rgb(122, 111, 111);
}


#services-container{
    height: 750px;
    width: 100%;
}

#services{
    margin: 34px;
    display: flex;
}
#services .box{ 
   /* border: 2px solid brown;*/
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 10px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;

} 

/* Clients Section */
#client-section{ 
    position: relative;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('../bg.jpg');
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.3;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}


/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
    color: rgb(239, 241, 243);
    text-shadow: 2px 2px black;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn1{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(71, 62, 62);
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 27px;
    cursor:pointer;
    text-decoration: none;
}


.btn1 a{
    text-decoration: none;
    color: white;
}


.btn1:hover{
    color: black;
    background-color: antiquewhite;
    border-radius: 14px;
    box-shadow: 2px 4px;
}

.btn1 a:hover{
    color: black;
    background-color: antiquewhite;
}

.center{
    text-align: center;
}

#firstpara-info img{
    display: block;
    margin: auto;
    justify-content: center;
    width: 35%;
}

#Secondpara-info img{
    display: block;
    margin: auto;
    justify-content: center;
    width: 35%;
}

.paragraph{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 4px 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin-bottom: 26px;
}

#firstpara-info-p{
    text-align: center;
    margin: 30px;
    padding: 20px 80px;
    font-family:Arial, Helvetica, sans-serif;
}

iframe{
    display: block;
    margin: 50px auto;
    
    
}

.container{
    background-color: lightgray;
    display: block;
    margin: auto;
    width: 900px;
    border: 2px solid #333;
    padding: 35px 70px;
    margin-bottom: 55px;
}


    /* box-shadow: #aaa ; */
.container h2{
    /* text-align: center; */
    margin-bottom: 15px; 
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
    padding: 12px;
    color: rgb(242, 244, 248);
    text-shadow: 2px 2px black;
}

textarea{
    height: 40px;
    width: 100%;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #aaa;
    background-color: transparent;
    margin-bottom: 10px;
    resize: none;
    outline: none;
    font-family: 'Baloo Bhai', cursive;
}

textarea:focus::-webkit-input-placeholder{
    opacity: 0;}

input[type="button"], button{
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;}

input[type="button"]{
    color: #fff;
    background-color: rgb(71, 62, 62);
    border-radius: 27px;
    padding: 6px 20px;
    margin: 17px;
    border: 2px solid white;
}

#data{
    font-size: 20px;
    font-family: 'Baloo Bhai', cursive;
}
    
.paragraph{
    text-align: justify;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

